<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/admin")
</head>
<body>

    <nav class="navbar navbar-default ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("ADMIN PANEL","Index","Admin",null, new { @class = "navbar-brand" })
        </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
             <ul class="nav navbar-nav navbar-right">
                 <li><a href="@Url.Action("Index", "Admin")">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Home
                </a></li>
                 <li>
                     <a href="@Url.Action("Index", "Home")">
                         <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                         Site
                     </a>
                 </li>
                 <li><a> Вы вошли как: @User.Identity.Name </a></li>
                 <li>@Html.ActionLink("Выход", "LogOff", "Account")</li>
             </ul>
        </div>
    </nav>

   @*<div class="container">
       <div class="row">
           <div class="col-md-2 ">
               <div class="list-group">
                   @Html.ActionLink("Users List", "UsersList", "Admin", null, new { @class="list-group-item" })
                   @Html.ActionLink("Role List", "RoleList", "Admin", null, new { @class = "list-group-item" })
                   @Html.ActionLink("Category List", "CategoryList","Admin", null, new { @class = "list-group-item" })
                   @Html.ActionLink("Course List", "CorseList", "Admin", null, new { @class = "list-group-item" })

                   @Html.ActionLink("Users List", "UsersList", "Admin", null, new { @class = "list-group-item" })
                   @Html.ActionLink("Role List", "RoleList", "Admin", null, new { @class = "list-group-item" })
                   @Html.ActionLink("Category List", "CategoryList", "Admin", null, new { @class = "list-group-item" })
                   @Html.ActionLink("Course List", "CorseList", "Admin", null, new { @class = "list-group-item" })

               </div>
           </div>
           <div class="colm-md-8 col-md-offset-3">
               <div class="row" style="margin-bottom:0px;">
   
                       <div class="col-md-5 panel panel-default">
                           Some statistics here
                       </div>
                       <div class="col-md-6 col-md-offset-1 panel panel-default">
                           Some statistics here
                       </div>
               </div>

               <div class="row">
                   <div class="col-md-12 panel panel-default">
                       @RenderBody()
                   </div>
               </div>
              
           </div>
       </div>
   </div>*@

    @*<div class="container-fluid">
        <div class="row">
            <div class="col-sm-3" style="height:100%;">
                <h2>Menu</h2>
                <ul class="nav nav-pills nav-stacked">
                    <li>@Html.ActionLink("Users List", "UsersList", "Admin", null, new { @class = "list-group-item" })</li> 
                    <li>@Html.ActionLink("Role List", "RoleList", "Admin", null, new { @class = "list-group-item" })</li> 
                    <li>@Html.ActionLink("Category List", "CategoryList", "Admin", null, new { @class = "list-group-item" })</li> 
                    <li>@Html.ActionLink("Course List", "CorseList", "Admin", null, new { @class = "list-group-item" })</li> 
                </ul>
            </div>

            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            Some statistics here
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            Some statistics here
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>*@


    <div class="container-fluid">
        <div class="row content" style="margin:0px;">
            <div class="col-sm-3 sidenav hidden-xs">
                <h2 class="well">Site Name</h2>
                <ul class="nav nav-pills nav-stacked">

                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                            Курси
                            <span class="caret"></span>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="@Url.Action("CorseList", "Admin")">
                                        <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                        Список курсів
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("TaskList", "Admin")">
                                        <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                        Уроки
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("FileList", "Admin")">
                                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                                        Файли
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("VideoList", "Admin")">
                                        <span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                                        Відео
                                    </a>
                                </li>
                            </ul>
                        </a>
                    </li>  
                    <li>
                        <a href="@Url.Action("UsersList", "Admin")">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Список користувачів
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("RoleList", "Admin")">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                            Список ролей
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("CategoryList", "Admin")">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            Список категорій
                        </a>
                    </li>

                 

                    
                    <li>
                        <a href="@Url.Action("TeacherList", "Admin")">
                            <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                            Викладачі
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("PositionList", "Admin")">
                            <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                            Посади
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("BlogList", "Admin")">
                            <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
                            Новини
                        </a>
                    </li>

                     

                    

                    @*<li>@Html.ActionLink("Users List", "UsersList", "Admin")</li>*@
                    @*<li>@Html.ActionLink("Role List", "RoleList", "Admin")</li>*@
                    @*<li>@Html.ActionLink("Category List", "CategoryList", "Admin")</li>*@
                    @*<li>@Html.ActionLink("Course List", "CorseList", "Admin")</li>*@
                    @*<li>@Html.ActionLink("Task List", "TaskList", "Admin")</li>*@
                    @*<li>@Html.ActionLink("File List", "FileList", "Admin")</li>*@
                    @*<li>@Html.ActionLink("Video List", "VideoList", "Admin")</li>*@ 
                </ul><br>
            </div>
            <br>

            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            <h4>Dashboard</h4>
                            <p>Some text..</p>
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Users</h4>
                            <p>1 Million</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Pages</h4>
                            <p>100 Million</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Sessions</h4>
                            <p>10 Million</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="well">
                            <h4>Bounce</h4>
                            <p>30%</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="well">
                            <p>Text</p>
                            <p>Text</p>
                            <p>Text</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <p>Text</p>
                            <p>Text</p>
                            <p>Text</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="well">
                            <p>Text</p>
                            <p>Text</p>
                            <p>Text</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="well">
                            <p>Text</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="well">
                            <p>Text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
