@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@*<p>@Html.ActionLink("Users List", "UsersList")</p>
<p>@Html.ActionLink("Role List", "RoleList")</p> 
<p>@Html.ActionLink("Category List", "CategoryList")</p>
<p>@Html.ActionLink("Course List", "CorseList")</p>*@
<p>Ваш ID - @ViewBag.ID </p>

