@model IEnumerable<Project.Models.Blog>

@foreach (var item in Model)
{


    
    <div class="row">
        <div class="col-md-12"  style="border-bottom:1px solid #d9d9d9;margin-top:20px;">
            <a href="@Url.Action("Post","Blog",new { id = item.BlogId })" style="color:black;">
                <div class="row">

                    <div class="col-md-5" style="padding-bottom:10px;">
                        @if (item.ImagePath != null)
                        {
                            <img src="@Url.Content(item.ImagePath)" alt="image" class="img-responsive"/>
                        }
                        else
                        {
                            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgdmlld0JveD0iMCAwIDI0MiAyMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MjAwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU4ZWNhNjE3ZTkgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMnB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNThlY2E2MTdlOSI+PHJlY3Qgd2lkdGg9IjI0MiIgaGVpZ2h0PSIyMDAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI4OS44MDQ2ODc1IiB5PSIxMDUuMSI+MjQyeDIwMDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==" class="img-responsive" />
                        }
                    </div>
                    <div class="col-md-7">
                        <strong>@Html.DisplayFor(model => item.Title)</strong>
                    </div>

                </div>
                <div class="row" style="margin-bottom:10px;font-size:7pt;">
                    <div class="col-md-5"></div>
                    <div class="col-md-7">
                        <span>
                            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                            @item.CreateTime.ToLongDateString()
                        </span>
                        <span style="margin-left:20px;">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> @item.Comments.Count()
                        </span>

                    </div>
                </div>
            </a>
        </div>
    </div>

    
   
}
